<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login / Signup</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <script src="../static/loading.js"></script>

    <div class="container">
      <div class="login-panel">
        <div class="logo-placeholder">
          <img src="../../static/image/logo2.png" alt="Logo" height="100px">
         <!-- <img th:src="@{/image/logo2.png}" alt="Logo" height="130px" />-->
        </div>
        <h1 class="login-title">Accedi</h1>

        <div th:if="${param.error}">
          <p style="color: red">Email o password non validi.</p>
        </div>

        <form th:action="@{/login}" method="post">
          <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input
              type="email"
              name="username"
              placeholder="Inserisci la tua Email"
              required
            />
          </div>

          <div class="input-group">
            <i class="fa-solid fa-key"></i>
            <input
              type="password"
              name="password"
              placeholder="Inserisci la tua password"
              required
            />
          </div>

          <label>
            <input type="checkbox" name="remember-me" />
            Ricordami
          </label>

          <button type="submit" class="log-in-btn">
            <i class="fa-solid fa-right-to-bracket"></i> ACCEDI
          </button>
        </form>
      </div>

      <div class="signup-panel">
        <div class="signup-content">
          <p>
            Non hai un'account? <br /><br /><span class="registrati"
              >Registrati ora!</span
            >
          </p>
          <a th:href="@{/register}"
            ><button class="signup-btn">Registrati</button></a
          >
        </div>
      </div>
    </div>
    <script th:if="${param.success}">
      alert("Registrazione avvenuta con successo! Ora puoi accedere.");
    </script>
  </body>
</html>
